fastapi
supervision==0.9.0
Pillow
numpy
opencv-python
pycocotools
uvicorn
nest_asyncio
torch
diffusers
transformers
simple-lama-inpainting
scikit-learn
torchvision
pyngrok
ultralytics==8.3.23
opencv-python-headless
futures
python-multipart